---

---

<section class="c-section"></section>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as mq;
@use '../../../assets/scss/mixin' as mi;

.c-section {
  @include mq.pc {

  }
  @include mq.sp {

  }
}

</style>
