---

---

<div class="c-parts"></div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as mq;
@use '../../../assets/scss/mixin' as mi;

.c-parts {
  @include mq.pc {

  }
  @include mq.sp {

  }
}

</style>
